@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;
  background-color: #111215;
  height: 100vh;
}

header {
  padding: 20px 30px 0 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

nav li a {
  color: whitesmoke;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  font-size: 1.3rem;

  padding: 2px 10px;
  position: relative;
}

nav li a::before {
  background: #890000;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

nav li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

main {
  height: 94%;
}

#homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 100%;
}

.homepage-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
}

#homepage p {
  font-family: "Forum", serif;
  font-size: 2rem;
}

#homepage a {
  display: inline-block;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid whitesmoke;
  padding: 0.5rem;
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

#homepage a:hover {
  animation: ease-in-out;
  background-color: whitesmoke;
  color: #2e313a;
}

#about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#about-history {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: olive; */
  gap: 60px;
}

#about-history img {
  border-radius: 30px;
}

.history-cards {
  display: flex;
  gap: 50px;
}

.history-card-back {
  width: 400px;
  height: 500px;
  background-color: #111215;
  color: whitesmoke;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 5px solid whitesmoke;
  /* position: relative; */
}

.history-card-back p {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  font-size: 1.2rem;
}

.history {
  position: relative;
  width: 400px;
  height: 500px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.history div {
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}

.history-card-back {
  transform: rotateY(180deg);
}

.history:hover .history-card-back {
  transform: rotateY(0deg);
}

.history:hover .history-card-front {
  transform: rotateY(-180deg);
}

.about-header {
  font-size: 3.5rem;
}

#about-technologies {
  width: 100%;
  height: 100vh;
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.technology {
  width: 400px;
  height: 600px;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  border: 5px solid whitesmoke;
  transition: transform 0.4s;
}

.technology:hover {
  transform: scale(1.1);
}

.technologies-cards {
  display: flex;
  gap: 50px;
}

.technology h3 {
  font-size: 2rem;
}

.about-button {
  width: 100%;
}

.about-button a {
  display: inline-block;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 5px 0;
  color: #111215;
  text-decoration: none;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.about-button a:hover {
  background-color: #111215;
  color: whitesmoke;
}

#technologies-header {
  text-align: right;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  padding-bottom: 54px;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: calibri;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

footer a {
  display: block;
  position: relative;
}

footer a::before,
a::after {
  width: 0%;
  height: 3px;
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  background: transparent;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer a::before {
  left: -1.5px;
}

footer a::after {
  left: 1.5px;
  background: transparent;
}

footer a:hover::before {
  background: #890000;
  width: 100%;
}

footer a:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

#mySidenav {
  display: none;
}

#sidebar-button {
  display: none;
}

@media (max-width: 1700px) {

  header {
    padding: 20px 0 0 0;
    margin-right: 20px;
  }

  #about-technologies {
    flex-direction: column-reverse;
  }

  footer {
    margin-top: 40px;
  }

  #about-page {
    gap: 80px;
  }
}

@media (max-width: 1230px) {
  #about-technologies {
    height: initial;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .technologies-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  #sidebar-button {
    display: block;
    cursor: pointer;
    position: fixed;
  }

  header {
    padding: 0;
  }

  header nav {
    display: none;
  }

  #mySidenav {
    display: block;
  }

  nav ul {
    display: block;
  }

  #homepage {
    display: block;
    /* gap: 20; */
  }

  .homepage-items {
    display: block;
  }

  #about-page {
    display: block;
  }

  #about-history {
    all: initial;
    display: block;
  }

  .history-cards {
    display: block;
  }

  .history-card-back {
    display: block;
  }

  #about-technologies {
    /* all: initial; */
    display: block;
  }

  .technology {
    display: block;
  }

  .technologies-cards {
    display: block;
  }

  footer {
    display: block;
  }

  h1 {
    font-size: 80px;
  }

  header {
    padding: 20px 20px;
  }

  #homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: initial;
    gap: 20px;
    padding: 0 20px;
    height: 110vh;
  }

  #homepage a {
    /* margin: 0 10px; */
  }

  .homepage-items {
    display: flex;
    text-align: center;
    gap: 25px;
  }

  #about-page {
    display: flex;
    flex-direction: column;
    gap: 20vh;
  }

  .about-header {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
  }

  #about-history, #about-technologies {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .history-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-technologies {
    height: initial;
    display: flex;
    flex-direction: column-reverse;
  }

  .technologies-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    text-align: center;
  }

  .history-card-back {
    width: 350px;
  }

  .history-card-back p {
    font-size: 17.5px;
  }

  .history-card-front img {
    width: 350px;
  }

  .technology {
    display: flex;
    width: 350px;
  }

  .history {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
