@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111215;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 30px 0 0 45px;
}

header a {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: whitesmoke;
  text-decoration: none;

  position: relative;
  padding: 0 10px;
}

header a::before, footer a::before {
  background: #890000;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

header a:hover::before, footer a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

main {
  height: 80vh;
  /* width  : 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    text-align: center;
}

form {
  /* background-color: orange;  */
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-field {
  border: 0;
  width: 100%;
  outline: none;
  background: transparent;
  /* border: 2px solid whitesmoke; */
  border-bottom: 2px solid #757575;
  color: whitesmoke;
  height: 50px;
  padding: 0 0.7em;
  font-size: 1.2em;
  transition: all 0.25s ease-in-out;
}

.input-field:hover,
.input-field:focus {
  border-bottom: 2px solid whitesmoke;
}

button {
  border: 0;
  border-radius: 30px;
  background-color: #890000;
  color: whitesmoke;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 0.7em;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: #550000;
}

footer { 
    text-align: center;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    padding: 0 5px;
}

@media (max-width: 800px) {
  header {
  padding: 12px 0 0 12px;
}

  header a {
    font-size: 24px;
  }

  main {
    padding: 0 30px;
  }
}